body {
	font-family: 'IBM Plex Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 1.5;
	color: white;
	font-size: 1rem;
	background: url('/img/tool.jpg') no-repeat center center fixed;
	background-color: #151515;
	background-size: cover;
	margin: 0;
}

@media (min-width: 768px) {
	body {
		position: relative;
		left: 40%;
		width: 60%;
	}
}

.sp-link {
	text-decoration: none;
	outline: none;
	color: white;
}

.sp-infolink-hover:hover, .sp-infolink-hover:active {
	display: inline-block;
	text-decoration: none;
	border-bottom: 3px solid white;
	margin-bottom: -3px;
}

.sp-filter-invertshadow {
	filter: invert(1) drop-shadow(2px 2px rgba(21, 21, 21, 1));
}

.sp-filter-invertshadow:hover+.sp-infolink-hover {
	display: inline-block;
	text-decoration: none;
	border-bottom: 3px solid white;
	margin-bottom: -3px;
}

.sp-search {
	border: none;
	box-shadow: 0px 5px 5px -3px #151515;
	background-color: rgba(255, 255, 255, 1);
	background-image: url('/img/search.png');
	background-position: center left 10px;
	background-repeat: no-repeat;
	background-size: 25px;
	padding: 15px 10px 15px 45px;
	font-size: 1.25rem;
	line-height: 1.2;
}

.sp-filter-shadow {
	filter: drop-shadow(2px 2px rgba(21, 21, 21, 1));
}

.bs-border-box {
	box-sizing: border-box;
}

.sp-h1 {
	font-size: 5rem;
	line-height: 1.2;
	text-shadow: 1px 1px #151515;
}

.sp-h2 {
	font-size: 2.5rem;
	line-height: 1.2;
	text-shadow: 2px 2px #151515;
}

.sp-h3 {
	font-size: 1.25rem;
	line-height: 1.2;
	text-shadow: 3px 3px #151515;
}

.sp-hr {
	width: calc(100% - 2px);
}

.sp-container {
	width: calc(100% - 30px);
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.sp-container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.sp-container {
		max-width: 740px;
	}
}

@media (min-width: 992px) {
	.sp-container {
		max-width: 900px;
	}
}

@media (min-width: 1200px) {
	.sp-container {
		max-width: 1000px;
	}
}

.sp-flex-basis {
	flex-basis: 100%;
	width: 100%;
}

@media (min-width: 576px) {
	.sp-flex-basis {
		flex-basis: calc(50% - 32px);
		width: calc(50% - 32px);
	}
}

@media (min-width: 1400px) {
	.sp-flex-basis {
		flex-basis: calc(25% - 32px);
		width: calc(25% - 32px);
	}
}

.sp-linkcontainer {
	background-color: rgba(21, 21, 21, 0.33);
	width: 100%;
}